<h3><span>Goal</span></h3>
<p>We are trying to implement an engaging platform to aid annotation of tweets. This game is an attempt to use a typing and shooting game as the platform. In this game, players are required to annotate tweets into 2 categories, <span style="color: red">SPAM</span> and <span style="color: green"> NOT SPAM</span>. There is no option for skipping tweets in this pilot. Players are required to annotate all the <span style="font-weight: bold">10 tweets</span> in a round.</p>
<h3><span>Instructions</span></h3>

    <ul>
        <li>Read the tweet.There will be a delay before the game starts. </li>
        <li>Decide the category. <span style="color: red">SPAM</span> or <span style="color: green"> NOT SPAM</span>. </li>
        <li>Type the word correspoding to the category.</li>
        <li style="font-style: italic">If you miss a tweet it comes around again.</li>
    </ul>
    <h5>Definition to help you decide.</h5>
<p><span style="color: red">SPAM</span> are those tweets which are not related to the theme, <span style="color: green"> NOT SPAM</span> otherwise. 
There is a search link which googles the displayed tweet.
</p>
<h3 class="">Feedback</h3>
<p>This is of prime importance to us and one of the reasons of the pilot. Please give us your valued feedback.</p>	

<h3>Team</h3>
<p>Rohit Jain | Neeraj Gupta | Shashank Nayak</p>
